body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 50px;
  padding: 0px 0px 0px 10px;
  margin: 0;
  color: #001e6c;
  font-weight: 800;
}
h2 {
  font-size: 20px;
  padding: 10px 10px 0px 10px;
  margin: 0;
  color: #035397;
  font-weight: 700;
}

hr {
  color: #035397;
}

input {
  border: 0;
  padding: 10px;
  margin: 0;
}

ul {
  font-size: 14px;
  padding: 0px 0px 10px 10px;
  color: #035397;
  list-style: none;
}

.container {
  border-color: #035397;
  border-style: solid;
  width: 100%;
  margin-top: 50px;
  background: #fff;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 800px;
  margin-top: 50px;
}

.col-8 {
  padding: 15px;
  border-right: #035397;
  border-right-style: solid;
  border-bottom: #035397;
  border-bottom-style: solid;
  font-size: 25px;
  margin: 0;
}

.col-sm-4 {
  font-size: 14px;
  padding: 20px 20px 20px 5px;
  color: #035397;
}

.col-4 {
  padding: 15px;
  border-bottom: #035397;
  border-bottom-style: solid;
  margin: 0;
}

.search-img {
  width: 30px;
}

::placeholder {
  color: rgb(80, 137, 198, 0.4);
}

#current-date {
  font-size: 18px;
  padding: 30px 0px 30px 10px;
  color: #035397;
}

#description {
  font-size: 20px;
  padding: 0px 10px;
  margin: 10px 0px 0px 0px;
  color: #035397;
}

#description::first-letter {
  text-transform: capitalize;
}

.temperature {
  font-size: 120px;
  padding: 20px 20px 20px 10px;
  margin: 0;
  color: #001e6c;
  font-weight: 400;
}

.units {
  color: #001e6c;
  font-size: 25px;
  position: relative;
  top: -60px;
}

.units .hover {
  color: #035397;
  text-decoration: none;
  cursor: pointer;
}

.units .active {
  color: #001e6c;
  font-weight: bold;
  text-decoration: none;
}

#icon {
  max-width: 100%;
  position: relative;
  top: 120px;
  right: 100px;
}

.weather-forecast-date {
  text-align: center;
  margin: 0;
  color: #035397;
}

.forecast-imgs {
  display: block;
  margin: 10px auto;
  max-width: 60px;
}

.weather-forecast-temperatures {
  text-align: center;
  color: #035397;
  font-weight: 600;
  padding-bottom: 15px;
}

.weather-forecast-temperature-min {
  font-weight: 300;
}

.credit {
  text-align: center;
  color: #035397;
  font-weight: 300;
  font-size: 14px;
  margin: 10px;
}
